body {
    background-color: rgb(197, 142, 188);
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#board {
    max-width: 620px;
    min-width: 320px;
    margin: auto;
}

.square {
    background-color: #ffffff;
    border: 2px solid #000000;
    width: 185px;
    height: 185px;
    margin-top: 3px;
    outline: none; /* removes the blue line when we click! /*/
    font-family: 'Oswald', sans-serif;
    font-size: 60pt;

}

.square:hover{
    background-color: rgb(240, 214, 100)
}

#message {
    font-family: 'Oswald', sans-serif;
    font-size: 20pt;
    text-align: center;
    height:  100px;
    margin: 5px;
}

.winning-square {
    background-color: rgb(118, 153, 206)
}

#reset-button {
    width: 150px;
    height: 60px;
    background-color: white;
    color: black;
    font-size: 14pt;
    border: 2px solid black;
    margin-top: -100px;
    outline: none; 
    font-family: 'Oswald', sans-serif;
}

.hidden {
    display: none;
}