body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  background-color: rgb(201, 200, 200);
}

a {
  color: #00B7FF;
}

h1 {
  text-align: center;
}

.row-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.color {
  border-radius: 50%;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  margin: 5px;
}

.color:hover{
  opacity: 0.8;
}

#color1 {
  background-color: #ce2a2a;
}

#color2 {
  background-color: #eb9c0b;
}

#color3 {
  background-color: #ebd953;
}

#color4 {
  background-color: #58ce60;
}

#color5 {
  background-color: #2d7ad8;
}

#color6 {
  background-color: #9854eb;
}

.row-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.circle {
  width: 200px;
  height: 200px;
  background-color: white;
  margin: 50px;
  border-radius: 50%;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.light{
  background-color: #eeeeee;
  color: black;
  outline: none;
  margin: 2px;
}

.dark {
  background-color: #444343;
  color: white;
  outline: none;
  margin: 2px;

}

.dark:hover, .light:hover{
  border: 1px solid #00B7FF;
}

.save {
  margin: 10px;
  background-color: #00B7FF; 
  color: white;
}

.row-4 {
  display: flex;
  justify-content: center;
}
